setuptools
aiofiles
aiosqlite
anyio
argon2-cffi
argon2-cffi-bindings
attrs
Babel
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
colorama
comm
cycler
debugpy
decorator
defusedxml
entrypoints
exceptiongroup
fastjsonschema
fonttools
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
numexpr
numpy
packaging
pandocfilters
parso
pickleshare
Pillow
pkgutil-resolve-name
prometheus-client
prompt-toolkit
psutil
pycparser
pycryptodome
pygments
pyparsing
pyrsistent
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
requests
rfc3339-validator
rfc3986-validator
scikit-learn
scipy
Send2Trash
six
sniffio
soupsieve
terminado
threadpoolctl
tinycss2
tomli
tornado
tqdm
traitlets
trsfile==0.3.2
typing-extensions
urllib3
wcwidth
webencodings
websocket-client
widgetsnbextension
zipp
